body {
  font-family: "Baloo Bhai", cursive;
  color: orange;
  background: url("contact_us_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.left {
  display: inline-block;
  position: absolute;
  left: 60px;
  top: 20px;
}

.left img {
  width: 136px;
}

.left div {
  line-height: 19px;
  font-size: 26px;
  text-align: center;
}

#container {
  padding: 20px;
  text-align: center;
}
#contact {
  position: absolute;
  top: 320px;
  left: 44%;
}

.input {
  margin: 2px;
}

#btn {
  font-family: "Baloo Bhai", cursive;
  margin: 0px 50px;
  background-color: orange;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(161, 75, 75);
}
